# java binaries
*.war
*.ear
*.class
bin/
/*/bin

# backup files
*~

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# vim swap files
*.swp

# IDEA:
.idea/
server/incore-v2.ipr
server/incore-v2.iws
**.iml
**.iml

# IDEA - generated artifacts
**/build/
**/out/

# Apple metadata
**/.DS_Store

# local gradle files
**/.gradle/
server/local.properties

.vagrant/

*-test*
*_test*

# for kustomize
*incore-secrets.zip

# ignore helm charts
helm/incore/charts

*.dockerconfigjson
*tls.crt
*tls.key
*keycloak.properties
*incore-service.properties
*values.postgresql.yaml

# config
__pycache__

# values for deployment
values-incore-*.yaml
incore-*-pvc.yaml

# secrets
helm/incore/templates/secrets.yaml
*secrets.yaml

# list of dependency charts
charts/

# box files
*incore-prod*
values-*.yaml
keycloak-incore-realm.json
regcred.json
regcred.sh
helm/incore/templates/secrets.yaml

# resicore docs
resicore-docs/
